@model Vamia.Models.ProductModel
<div class="product">
    <a href="@Url.Action("details", "product", new { id = Model.ProductId })">

        <div>
            <img src="@Model.PictureURL" data-src="@Model.PictureURL" style="height:50px">
        </div>
        <div class="lead">@Model.Name</div> 
        <div class="description">@Model.Description</div>
    </a>
</div>
