@model Vamia.Web.Models.LoginViewModel

@{
    ViewBag.Title = "Login";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            @using (Html.BeginForm())
            {
                <div class="form-horizontal">
                    <h4>Login</h4>
                    <hr />
                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.RememberMe, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <div class="checkbox">
                                @Html.EditorFor(model => model.RememberMe)
                                @Html.ValidationMessageFor(model => model.RememberMe, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="submit" class="btn btn-primary"><i class="fa fa-unlock"></i>Login</button>
                            <a href="@Url.Action("register", "account")" class="btn btn-default">
                                <i class="fa fa-user"></i>Register
                            </a>
                            <a href="@Url.Action("index", "home")" class="btn btn-default">
                                <i class="fa fa-arrow-left"></i>Back
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section scripts{

    <script src="~/Libs/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/Libs/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}